<div class="header bg-gradient-danger pb-7 pt-5 pt-md-7">
  <div class="container-fluid">
    <div class="header-body">
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row">
            <div class="col-6">
              <h3 class="mb-0">Task</h3>
            </div>
            <div class="col-6 text-right">
              <button class="btn btn-sm btn-neutral btn-round btn-icon" (click)="open(add)">
                <span class="btn-inner--icon"><i class="ni ni-fat-add"></i></span>
                <span class="btn-inner--text">Add</span>
              </button>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Task</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let task of tasks;let i=index">
                <td>{{i+1}}</td>
                <td>{{task.body}}</td>
                <td>
                  <i class="fas fa-pencil-alt text-purple" (click)="open(edit); getTask(task)"></i><br/>
                  <i class="fas fa-trash text-red" (click)="open(delete); getTask(task)"></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Add Modal -->
<ng-template #add let-c="close" let-d="dismiss">
  <div class="modal-content">
      <div class="modal-header">
          <h5 class="modal-title" id="addModalLabel">Add Task</h5>
          <button type="button" class="close" (click)="d('Cross click')">
              <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <form [formGroup]="addForm" (ngSubmit)="addTask()">
          <div class="modal-body">
              <input type="hidden" name="type" value="TR"/>
              <div class="form-group">
                  <label>Task*</label>
                  <input type="text" formControlName="body" class="form-control"/>
              </div>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" (click)="d('Cross click')">Close</button>
              <button type="submit" class="btn btn-primary">Add</button>
          </div>
      </form>
  </div>
</ng-template>
<ng-template #edit let-c="close" let-d="dismiss">
  <div class="modal-content">
      <div class="modal-header">
          <h5 class="modal-title" id="addModalLabel">Update Task</h5>
          <button type="button" class="close" (click)="d('Cross click')">
              <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <form [formGroup]="editForm" (ngSubmit)="editTask()">
          <div class="modal-body">
              <input type="hidden" name="type" value="TR"/>
              <div class="form-group">
                  <label>Task*</label>
                  <input type="text" formControlName="body" class="form-control"/>
              </div>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" (click)="d('Cross click')">Close</button>
              <button type="submit" class="btn btn-primary">Update</button>
          </div>
      </form>
  </div>
</ng-template>
<ng-template #delete let-c="close" let-d="dismiss">
  <div class="modal-content">
      <div class="modal-header">
          <h5 class="modal-title">Delete Task</h5>
          <button type="button" class="close" (click)="d('Cross click')">
              <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <form [formGroup]="editForm" (ngSubmit)="deleteTask()">
          <div class="modal-body">
            Are sure want delete this task?
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" (click)="d('Cross click')">Close</button>
              <button type="submit" class="btn btn-primary">delete</button>
          </div>
      </form>
  </div>
</ng-template>
