<div class="header bg-gradient-danger py-7 py-lg-8">
  <div class="separator separator-bottom separator-skew zindex-100">
    <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
</div>
<!-- Page content -->
<div class="container mt--8 pb-5">
  <!-- Table -->
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8">
      <div class="card bg-secondary shadow border-0">
        <div class="card-body px-lg-5 py-lg-5">
          <div class="text-center text-muted mb-4">
            <small>Sign Up</small>
          </div>
          <form role="form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                </div>
                <input class="form-control" formControlName="name" placeholder="Name" type="text">
              </div>
              <ng-container *ngIf="f.name.invalid && (f.name.dirty || f.name.touched)">
                <div class="has-danger" *ngIf="f.name.errors.required">
                    Name is required.
                </div>
              </ng-container>
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                </div>
                <input class="form-control" placeholder="Email" formControlName="email" type="email">
              </div>
              <ng-container *ngIf="f.email.invalid && (f.email.dirty || f.email.touched)">
                <div class="has-danger" *ngIf="f.email.errors.required">
                    Email is required.
                </div>
                <div class="has-danger" *ngIf="f.email.errors.email">
                    Email is invalid.
                </div>
              </ng-container>
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                </div>
                <input class="form-control" placeholder="Password" formControlName="password" type="password">
              </div>
              <ng-container *ngIf="f.password.invalid && (f.password.dirty || f.password.touched)">
                <div class="danger" *ngIf="f.password.errors.required">
                  Password is required.
                </div>
                <div class="has-danger" *ngIf="f.password.errors.minlegth">
                  Password lenght should be minimum 6 characters.
                </div>
                <div class="has-danger" *ngIf="f.password.errors.maxlegth">
                  Password is required.
                </div>
              </ng-container>
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                </div>
                <input class="form-control" placeholder="Confirmed Password" formControlName="password_confirmation" type="password">
              </div>
              <ng-container *ngIf="f.password_confirmation.invalid && (f.password_confirmation.dirty || f.password_confirmation.touched)">
                <div class="has-danger" *ngIf="f.password_confirmation.errors.required">
                  Confirmed Password is required.
                </div>
              </ng-container>
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-primary mt-4">Create account</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
